@use "../reset/reset.scss" as *;
@use '../colors/colors.scss' as *;

@mixin size($width, $height) {
    width: $width;
    height: $height;
}
@mixin font($weight) {
    font-family: "Bebas Neue", sans-serif;
    font-weight: $weight;
    font-style: normal;
}
:root {
  --electric-border-color: #dd8448;
  --electric-light-color: oklch(from var(--electric-border-color) l c h);
  --gradient-color: oklch(from var(--electric-border-color) 0.3 calc(c / 2) h / 0.4);
  --color-neutral-900: oklch(0.185 0 0);
}
.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1003;
    background-color: $happy-black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-loader {
    width: 400px;
    height: 3px;
    background-color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
}
.typing-container {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & span {
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    }
}
.menu {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, rgba(255, 255, 255, 0));
    @media screen and (max-width: 620px) {
        display: none;
    }
    & ul {
        width: 90%;
        height: 50px;
        right: 0;
        display: flex;
        position: relative;
        border-bottom: solid 3px #ffffff88;
        column-gap: 30px;
        justify-content: flex-end;
        align-items: center;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        padding: {
            left: 10px;
            right: 10px;
        };
        @media screen and (max-width: 700px){
            width: 100%;
        }
        & a {
            color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
                bottom: -5px;
                transition: width .2s ease-in-out;
            }
            &:hover {
                color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-4-hex;
                &::before {width: 100%}
            }
            @include font(500);
        }
    }
}
.mobile {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1001;
    display: none;
    align-items: center;
    @media screen and (max-width: 620px) {
        display: flex;
        justify-content: space-around;
    }
    & .logotype {
        min-width: 100px;
        & h3 {
            font-size: 20px;
        }
    }
    backdrop-filter: blur(10px);
}
.points-mobile {
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 40px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100vh;
        right: 0;
        background-color: #000000;
        z-index: -1;
        top: 0;
    }
}
.list-point {
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.405), rgb(0, 0, 0));
    border-left: solid 1px $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    & a {
        width: 100%;
        @include font(100);
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    }
}
.button-mobile-menu {
    width: 40px;
    height: 25px;
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    cursor: pointer;
}
.line {
    width: 100%;
    height: 3px;
    background-color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
.ac-m0 {
    transform: rotate(45deg) translateX(10px);
}
.ac-m2 {
    transform: rotate(-45deg) translateX(10px);
}
.md-l {
    transform: translateX(-100px);
    opacity: 0;
}
.logotype {
    min-width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h3 {
        @include font(500);
        font-size: 2rem;
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    }
}
.logotype-image {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-image: url('/softByteYouTubeLogo.png')
}
.hero-section {
    @include size(100vw, 100vh);
    background-size: cover;
    background-position: center;
    // background-image: url("/2150830366 (2).jpg");
    background: #000;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 5%;
    &::before {
        content: '';
        position: absolute;
        clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
        width: 60%;
        height: 100%;
        right: 0;
        background-image: url("/2151675070.jpg");
        background-size: cover;
        background-position: left;
        @media screen and (max-width: 450px) {
            width: 100%;
            height: 100%;
            background-position: center;
            opacity: .5;
            clip-path: none;
            bottom: 0;
        }
    }
    @media screen and (max-width: 450px) {
        padding-left: 0;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100px;
            bottom: 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
        }
    }
}
.hero-content {
    max-width: 650px;
    min-height: 300px;
    text-align: left;
    z-index: 1;
    padding: 15px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    @media screen and (max-width: 450px) {
        text-align: center;
        backdrop-filter: none;
        box-shadow: none;
        &::before {display: none}
    }
    & h1 {
        @include font(600);
        font-size: 5rem;
        margin-bottom: 10px;
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
        @media screen and (max-width: 450px) {
            font-size: 3rem;
        }
    }
    & h2 {
        @include font(200);
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        @media screen and (max-width: 450px) {
            font-size: 1rem;
            color: rgb(255, 255, 255);
        }
    }
    & button {
        margin-top: 20px;
        width: 200px;
        height: 30px;
        cursor: pointer;
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
        @include font(100);
        border-radius: 7px;
        outline: solid 1px $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-4-hex;
        backdrop-filter: blur(5px);
        position: relative;
        transition: background-color .2s ease-in-out;
        background: #000;
        &:hover {
            background-color: rgba(0, 0, 0, 0.399);
        }
    }
}
.about-us {
    width: 100vw;
    height: 100vh;
    background-color: $happy-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: {
        left: 1.5rem;
        right: 1.5rem;
    };
    @media screen and (max-width: 950px) {
        flex-direction: column;
    }
}
.fs {
    height: 70%;
    width: calc(50% - 3rem);
    position: relative;
    @media screen and (max-width: 950px) {
        width: 100%;
    }
}
.about-us-image {
    background-image: url("/2151675055.jpg");
    background-size: cover;
    background-position: center;
}
.about-us-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: {
        left: 20px;
        right: 20px;
    };
    & h2 {
        @include font(100);
        font-size: 2rem;
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
        position: relative;
        &::before {
            content: attr(data-text);;
            position: absolute;
            top: -30px;
            left: 50px;
            font-size: 5rem;
            color: #ffffff0f;
        }
    }
    & span {
        @include font(100);
        font-size: 1.1rem;
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
        text-align: left;
        max-width: 50%;
        @media screen and (max-width: 950px) {
            text-align: center;
            max-width: 100%;
        }
        @media screen and (max-width: 540px) {
            font-size: 1rem;
        }
    }
    @media screen and (max-width: 540px) {
        padding: {
            left: 5px;
            right: 5px;
        };
    }
}
.section-work {
    width: 100vw;
    min-height: 100vh;
    background-color: $happy-black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 2rem;
}
.section-work-cards {
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        padding: {
            bottom: 3rem;
        };
    }
}



.main-card {
    width: 400px;
    height: 300px;
    position: relative;
    // background-color: #343434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h3 {
        position: absolute;
        top: 20px;
        font-size: 2rem;
        color: white;
    }
    & span {
        color: rgba(255, 255, 255, 0.471);
        font-size: 1.2rem;
    }
    &:nth-child(1) {
        &::before {
            content: '';
            position: absolute;
            right: 0;
            height: 80%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.353);
        }
    }
    &:nth-child(2) {
        &::before {
            content: '';
            position: absolute;
            right: 0;
            height: 80%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.353);
        }
    }
    @media screen and (max-width: 1200px) {
        &:nth-child(3) {
        &::before {
            content: '';
            position: absolute;
            right: 0;
            height: 80%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.353);
            }
        }
    }
}




.format {
    color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    background-clip: text;
    text-align: center;
    @include font(500);
    font-size: 3.5rem;
    @media screen and (max-width: 520px){
        font-size: 2rem;
    }
}
.title-for-whom {
    color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    text-align: center;
    @include font(500);
    font-size: 3rem;
    @media screen and (max-width: 520px){
        font-size: 2rem;
    }
}
.for-whom {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: {
        bottom: 4rem;
        top: 4rem;
    };
}
.border-for-whom {
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    row-gap: 20px;
    background-image: url("/2151205380.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}
.card-whom-course {
    width: calc(100% / 3);
    min-width: 300px;
    height: 600px;
    padding: 10px;
    border-right: solid 1px white;
    position: relative;
    overflow: hidden;
    color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all .2s ease-in-out;
    &:hover {
        backdrop-filter: blur(10px)
    }
    & span {
        @include font(200);
        font-size: 2rem;
        text-align: left;
        max-width: 98%;
        position: relative;
        display: flex;
        justify-content: center;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
            top: -5px;
            border-radius: 50%;
        }
    }
    &::before {
        content: '';
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        filter: blur(80px);
        right: 0;
        top: -50px;
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        filter: blur(70px);
        left: 0;
        bottom: -50px;
        z-index: -1;
    }
    @media screen and (max-width: 420px){
        width: 300px;
        height: 350px;
        backdrop-filter: blur(10px);
        & span {
            font-size: 1.3rem;
        }
    }
}
.fn-s {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    right: 0;
}
.card-whom-index-0 {
    &::after {
        background-color: $Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-3-hex;
    }
}

.card-whom-index-1 {
    &::before {
        background-color: $Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-5-hex;
    }
    &::after {
        background-color: $Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-4-hex;
    }
}

.card-whom-index-2 {
    &::after {
        background-color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-4-hex;
    }
}
.start-corse {
    color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    text-align: center;
    @include font(500);
    font-size: 3.1rem;
}
.main-corses-block {
    width: 100vw;
    min-height: 100vh;
    padding: {
        top: 4rem;
        bottom: 4rem;
    };
    display: flex;
    justify-content: center;
    align-items: center;
}
.courses-router {
    width: 90%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    padding: 15px;

}
.card-course {
    width: calc((100% / 3) - 20px);
    min-width: 300px;
    height: 350px;
    border: solid 1px $Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-3-hex;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
    &::before {
        content: '';
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        right: -200px;
        top: -200px;
        filter: blur(50px);
        opacity: .4;
    }
    transition: box-shadow .2s ease-in-out;
    &:hover {
        box-shadow: 0px 0px 35px $Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-5-hex;
    }
    @media screen and (max-width: 700px){
        width: 100%;
    }
}
.index1 {
    &::before {
        background-color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-3-hex;
    }
}
.index2 {
    &::before {
        background-color: $Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-2-hex;
    }
}
.index3 {
    &::before {
        background-color: $Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-5-hex;
    }
}
.title-corse-block {
    max-width: 98%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.course-title {
    color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    @include font(400);
    font-size: 2.2rem;
    @media screen and (max-width: 700px){
        font-size: 1.8rem;
    }
}
.subTitle-course {
    color: rgba(255, 255, 255, 0.479);
    @include font(400);
    font-size: 1.3rem;
    @media screen and (max-width: 700px){
        font-size: 1.1rem;
    }
}
.progress-block {
    width: 90%;
    min-height: 30px;
    & span {
        @include font(100);
        font-size: 1.2rem;
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    }
}
.progress-bar-course {
    width: 100%;
    height: 7px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #191919;
}
.line-progress {
    height: 100%;
    width: 50%;
    border-radius: 10px;
    background-color: #45b7d1;
}
.course-link {
    width: 150px;
    height: 35px;
    border: solid .5px $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-3-hex;
    border-radius: 15px;
    display: grid;
    place-items: center;
    @include font(200);
    color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    background-color: #1a1919;
    position: relative;
    overflow: hidden;
    z-index: 1;
        &::before {
        content: '';
        position: absolute;
        border-radius: 15px;
        z-index: -1;
        width: 0;
        height: 100%;
        background-image: linear-gradient(45deg, black, rgb(73, 9, 68));
        transition: width .2s ease-in-out;
        left: 0;
    }
    &:hover {
        &::before {
            width: 100%;
        }
    }
}
.footer-card-course {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}







.footer-title {
    background: linear-gradient(45deg, $Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-1-hex, $Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-2-hex, $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-3-hex);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-bottom: 3rem;
    @include font(500);
    font-size: 2.5rem;
    @media screen and (max-width: 520px){
        font-size: 2rem;
    }
}
.footer {
    border-top: solid 1px $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    width: 100vw;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logotype-footer {
    display: flex;
    align-items: center;
    & span {
        @include font(500);
        font-size: 2rem;
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    }
}
.ic-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.tg {
    background-image: url("/telegram_906377.png");
}
.yt {
    background-image: url("/youtube_174883.png");
}
.links {
    display: flex;
    column-gap: 20px;
}
.bl {
    display: flex;
    align-items: center;
    column-gap: 10px;
    & span {
        @include font(100);
        color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    }
}
.cop p {
    @include font(100);
    color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
}
.not-courses-len {
    @include font(100);
    color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
}


.decorate {
    width: 100%;
    height: 320px;
    // background-color: #45b7d1;
    background-image: url("/g.jpg");
    background-size: cover;
    background-position: top;
}















.company-points {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding: {
        top: 5rem;
        bottom: 5rem;
    };
}
.company-point-block {
    display: flex;
    align-items: center;
    color: $Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex;
    @include font(100);
    & p {
        font-size: 40px;
        margin-right: 10px;
    }
}