@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Bebas+Neue&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Bungee+Spice&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Ga+Maamli&family=Geist+Mono:wght@100..900&family=Inconsolata:wght@200..900&family=Jockey+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lacquer&family=Lemon&family=Lilita+One&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IT+Moderna:wght@100..400&family=Poiret+One&family=Prosto+One&family=Protest+Revolution&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Rubik:ital,wght@0,300..900;1,300..900&family=Russo+One&family=Sono:wght@200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');
/* Color Theme Swatches in Hex */
$Family-New-year-1-hex: #071A26;
$Family-New-year-2-hex: #F2E3B6;
$Family-New-year-3-hex: #8C593B;
$Family-New-year-4-hex: #F26835;
$Family-New-year-5-hex: #59231E;

/* Color Theme Swatches in Hex */
$Happy-New-Year-design-1-hex: #07080D;
$Happy-New-Year-design-2-hex: #F2CA52;
$Happy-New-Year-design-3-hex: #F2B263;
$Happy-New-Year-design-4-hex: #A66F3F;
$Happy-New-Year-design-5-hex: #734F2F;


/* Color Theme Swatches in Hex */
$Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-1-hex: #30402C;
$Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-2-hex: #5C743C;
$Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-3-hex: #F2C06B;
$Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-4-hex: #F2D8A7;
$Christmas-and-New-Year-holiday-background-with-bokeh-vintage-color-toned-5-hex: #FFFEF6;

$happy-black: #000;



/* Color Theme Swatches in Hex */
$Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-1-hex: #C729F2;
$Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-2-hex: #7B17A6;
$Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-3-hex: #3B0E59;
$Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-4-hex: #0B2740;
$Abstract-flight-in-retro-neon-hyper-warp-space-in-the-tunnel-3d-illustration-5-hex: #13DCF2;


